<!DOCTYPE html>
<html>
  <head>
    <title>Mmistuffs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('faviconLogo.svg') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <%= image_tag("logo.svg", :alt => "Logo", :class => "header-logo") %>
      <% end %>
      <nav>
        <% if user_signed_in? %>
        <span class="username"><%= current_user.pseudo %></span>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn-primary'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'btn-secondary nav-btn1'  %>
        <%= link_to "Login", new_user_session_path, :class => 'btn-primary'  %>
      <% end %>
      </nav>
    </header>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
